<header id="header">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <div class="header_logo_sector">
                    <a class="" href="#"><img class="img-responsive" src="../images/logo.png" alt="PET2NET"></a>
                </div>
                <div class="header_main_sector_tablet">
                    <div class="col-sm-12">
                        <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                    </div>
                </div>
                <div class="header_main_sector">
                    <div class="col-sm-9">
                        <ul class="nav navbar-nav first_level">
                            <li class="timeline">
                                <a href="#">MY TIMELINE <span class="sr-only">(current)</span></a>
                            </li>
                            <li>
                                <a href="#">MY PROFILE <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <!-- HOVER MENU ORIGINAL -->
                                <ul class="hover_menu select_menu hidden">
                                    <li><a href="#"><i class="fa fa-eye pull-left" aria-hidden="true"></i>PUBLIC VIEW</a></li>
                                    <li><a href="#"><i class="fa fa-pencil pull-left" aria-hidden="true"></i>EDIT VIEW</a></li>
                                </ul>
                            </li>
                            <li class="active_edit">
                                <a href="#" class="" data-toggle="dropdown">MY DOGS <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <!-- HOVER MENU -->
                                <ul class="hover_menu select_menu hidden">
                                    <li><a href="#"><i class="fa fa-plus pull-left" aria-hidden="true"></i>ADD A NEW DOG</a>
                                    </li>
                                </ul>
                                <!-- DOG MENU -->
                                <ul class="hover_menu dog_menu hidden">
                                    <li>
                                        <span><img src="../images/bred-pit.png" alt="blacky"></span>
                                        <span>Hernandezy Lopez</span>
                                        <span>
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>
                                    </li>
                                    <li>
                                        <span><img src="../images/bred-pit.png" alt="blacky"></span>
                                        <span title="Blacky">Blacky</span>
                                        <span>
                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                    </span>
                                    </li>
                                    <li class="add_new_dog">
                                        <a href="#"><i class="fa fa-plus-circle pull-left" aria-hidden="true"></i>ADD A NEW DOG</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="#">MY BUSINESS <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-3">
                        <ul class="nav navbar-nav metric">
                            <li><a href="#">EN <i class="fa fa-chevron-down" aria-hidden="true"></i></a></li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CM <i class="fa fa-chevron-down" aria-hidden="true"></i></a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Action</a></li>
                                    <li><a href="#">Another action</a></li>
                                    <li><a href="#">Something else here</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">Separated link</a></li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="header_aside_sector">
                    <ul class="nav navbar-nav aside_menu">
                        <li>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <span class="abs_circle notification">11</span>
                            <!-- MY NETWORK MENU -->
                            <ul class="hover_menu my_network_menu hidden">
                                <li>
                                    <span class="dm-heading">Invite contacts</span>
                                    <div class="dm-social">
                                        <span class="circle"><a href="#"><i class="fa fa-at" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-google" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></span>
                                        <span class="circle"><a href="#"><i class="fa fa-tumblr" aria-hidden="true"></i></a></span>
                                    </div>
                                </li>
                                <li>
                                    <span class="dm-heading">Recent followers</span>
                                    <span class="dm-click"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#recent_followers" aria-expanded="false" aria-controls="recent_followers"></i></span>
                                    <div class="dm-content">
                                        <div class="dm-img-content">
                                            <img src="../images/bred-pit.png" alt="user">
                                            <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                        </div>
                                        <div class="dm-user-data">
                                            <p>Name Longer Surname</p>
                                            <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="dm-follow">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="recent_followers">
                                        <div class="dm-content">
                                            <div class="dm-img-content">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                        <div class="dm-content">
                                            <div class="dm-img-content">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="dm-heading">People you may know</span>
                                    <span class="dm-click"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#people_you_may_know" aria-expanded="false" aria-controls="people_you_may_know"></i></span>
                                    <div class="dm-content">
                                        <div class="dm-img-content">
                                            <img src="../images/bred-pit.png" alt="user">
                                            <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                        </div>
                                        <div class="dm-user-data">
                                            <p>Name Longer Surname</p>
                                            <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                        </div>
                                        <div class="dm-follow">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="people_you_may_know">
                                        <div class="dm-content">
                                            <div class="dm-img-content">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                        <div class="dm-content">
                                            <div class="dm-img-content">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <span>
                                                <i class="fa fa-times-circle red" aria-hidden="true"></i>
                                                <i class="fa fa-check-circle orange" aria-hidden="true"></i>
                                                <i class="fa fa-info-circle yellow" aria-hidden="true"></i>
                                                <i class="fa fa-question-circle green" aria-hidden="true"></i>
                                            </span>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="dm-heading">Pets you may like</span>
                                    <span class="dm-click"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#pets_you_may_like" aria-expanded="false" aria-controls="pets_you_may_like"></i></span>
                                    <div class="dm-content">
                                        <div class="dm-img-content pet">
                                            <img src="../images/vucko_circle.png" alt="user">
                                            <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                        </div>
                                        <div class="dm-user-data">
                                            <h4>Blecky</h4>
                                            <p>Name Longer Surname</p>
                                        </div>
                                        <div class="dm-follow">
                                            <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                        </div>
                                    </div>
                                    <div class="collapse" id="pets_you_may_like">
                                        <div class="dm-content">
                                            <div class="dm-img-content pet">
                                                <img src="../images/vucko_circle.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <h4>Blecky</h4>
                                                <p>Name Longer Surname</p>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                        <div class="dm-content">
                                            <div class="dm-img-content pet">
                                                <img src="../images/vucko_circle.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <h4>Blecky</h4>
                                                <p>Name Longer Surname</p>
                                            </div>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span class="dm-heading">Near you</span>
                                    <span class="dm-click"><i class="fa fa-chevron-down" aria-hidden="true" data-toggle="collapse" data-target="#near_you" aria-expanded="false" aria-controls="near_you"></i></span>
                                    <div class="dm-content">
                                        <div class="dm-img-content icon_business">
                                            <span><i class="fa fa-info-circle yellow" aria-hidden="true"></i></span>
                                        </div>
                                        <div class="dm-img-content near_you">
                                            <img src="../images/bred-pit.png" alt="user">
                                            <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                        </div>
                                        <div class="dm-user-data">
                                            <p>Name Longer Surname</p>
                                            <div class="dm-follow">
                                                <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="collapse" id="near_you">
                                        <div class="dm-content">
                                            <div class="dm-img-content icon_business">
                                                <span><i class="fa fa-info-circle yellow" aria-hidden="true"></i></span>
                                            </div>
                                            <div class="dm-img-content near_you">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <div class="dm-follow">
                                                    <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="dm-content">
                                            <div class="dm-img-content icon_business">
                                                <span><i class="fa fa-info-circle yellow" aria-hidden="true"></i></span>
                                            </div>
                                            <div class="dm-img-content near_you">
                                                <img src="../images/bred-pit.png" alt="user">
                                                <span class="flag"><img src="../images/srbija.png" alt="flag"></span>
                                            </div>
                                            <div class="dm-user-data">
                                                <p>Name Longer Surname</p>
                                                <div class="dm-follow">
                                                    <button class="btn btn-primary" type="button"><i class="fa fa-rss" aria-hidden="true"></i> Follow</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li>
                                    <span>MANAGE MY NETWORK</span>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                            <span class="abs_circle notification">48</span>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                            <span class="abs_circle notification">5</span>
                        </li>
                        <li>
                            <a class="manage_your_acc" href="#"><img class="circle" src="../images/bred-pit.png" alt="user"></a>
                            <span class="abs_circle notification"><i class="fa fa-cog" aria-hidden="true"></i></span>
                            <!-- SETTINGS MENU -->
                            <ul class="hover_menu settings_menu hidden">
                                <li><a href="#">Upgrade account</a></li>
                                <li><a href="#">Account information</a></li>
                                <li><a href="#">Blocking and hiding</a></li>
                                <li><a href="#">Privacy and setting</a></li>
                                <li><a href="#">Payment info</a></li>
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Sign out</a></li>
                            </ul>
                        </li>
                        <li class="search_icon">
                            <a href="#"><i class="fa fa-search" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                    <div class="input-group hidden">
                        <input type="text" class="form-control" aria-describedby="basic-addon1">
                        <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
                    </div>
                </div>
                <div class="header_mobile_menu">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-user" aria-hidden="true"></i></a>
                            <!--<span class="abs_circle notification">11</span>-->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bell-o" aria-hidden="true"></i></a>
                            <!--<span class="abs_circle notification">48</span>-->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-twitch" aria-hidden="true"></i></a>
                            <!--<span class="abs_circle notification">5</span>-->
                        </li>
                        <li>
                            <a class="manage_your_acc" href="#"><img class="circle" src="../images/bred-pit.png" alt="user"></a>
                            <!--<span class="abs_circle notification"><i class="fa fa-cog" aria-hidden="true"></i></span>-->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-bars" aria-hidden="true"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="search_form">
                    <div class="navbar-collapse input-group">
                        <span class="input-group-addon" id="mob_search"><i class="fa fa-search" aria-hidden="true"></i></span>
                        <input type="text" class="form-control mob_menu_search" aria-describedby="mob_search">
                    </div>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </nav>
</header>