.margin-20_top{
    margin-top: -20px;
}
.margin_20_top{
    margin-top: 20px;
}
.margin_50_top{
    margin-top: 50px;
}
.margin_5_bottom{
    margin-bottom: 5px;
}
.margin_15_bottom{
    margin-bottom: 15px;
}
.margin_20_bottom{
    margin-bottom: 20px;
}
.margin_10_bottom{
    margin-bottom: 10px;
}
.margin_30_top{
    margin-top: 30px;
}
.margin_30_bottom{
    margin-bottom: 30px;
}
.margin_40_bottom{
    margin-bottom: 40px;
}
.not_visible{
    visibility: hidden;
}
.padding_20_vertical{
    padding: 0 20px;
}
.pading_10_right{
    padding-right: 10px;
}
.padding_20_bottom {
    padding-bottom: 20px;
}
.padding_30_bottom {
    padding-bottom: 30px;
}
.padding_40_bottom {
    padding-bottom: 40px;
}
.padding_20_top {
    padding-top: 20px;
}
.padding_50_top {
    padding-top: 50px;
}
.border_2_top{
    border-top: 2px solid $dropdown_border;
}
.inline{
    display: inline-block;
    width: 49%;
    text-align: center;
}

.height_40{
    height: 40px;
}