//----------------------------------*\
// FONTS
//----------------------------------*/

$Roboto: 'Roboto', sans-serif;
$RobotoCondensed: 'Roboto Condensed', sans-serif;

//----------------------------------*\
// COLORS
//----------------------------------*/

$white: #FFF;
$black: #000;

// CENTRAL MENU COLORS
$inactive_background: #E0E0E0;
$inactive_text_color: #999;
$active_background: #DBEAEA;
$active_text_color: #3D4FA1;
$edit_background: #FFD5CA;
$active_edit_mode: #F15A24;
$dropdown_border: #B3B3B3;


// PROFILES BACKGROUNDS
$user_background: #474C22;
$female_dog_background: #BB3681;
$male_dog_background: #373B54;
$business_background: #F16231;
$kennel_background: #85AF41;

// FONT COLORS
$central_menu_font: #CCC;
$main_font_color: #333;
$more_font_color: #58595B;

// STATUS
$status_green: #8CC63F;
$status_red: #DB322F;
$right_side_background: #F2F2F2;
$matting_color: #1FBAEA;
$yellow_stars: #FAAF40;

// SCROLLBAR
$scrollbar_color: #5D5D5D;

// ICON COLORS
$header_notifications: #F05A29;
$border_user: #E0AD1E;
$border_pet_male: #3D50A1;
$piggy_icon: #DB322F;
$food_icon: #F89820;
$slippers_icon: #C6BF32;
$collar_icon: #56B49C;
$hairdresser_icon: #C5BE2F;

// PROGRESS
$progress_color: rgba(0, 0, 0, 0.6);

//DELETE
$delete_red: #c1272d;

$dark_grey: #4d4d4d;

// BORDER
$border_grey: #e6e6e6;


//service modal
$save_green: #00ff00;

$bottom-margin: 30px;
$line-width: 2px;
$line-color: green;